//Source sans light, regular and semi-bold
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

html{
    font-size: 16px; // = 1rem
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    color: rgb(34, 34, 34);
    background-color: rgb(252, 251, 249);
}

section{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 10vh;
    position: relative;
}

a{
    color: rgb(34, 34, 34);
    //text-decoration: none;
    transition: 200ms;
}

.elementImg{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

// Jobbeklasser

.blur{
    filter: blur(5px);
}

.noScroll{
    overflow: hidden;
}

.hidden{
    opacity: 0;
    pointer-events: none;

    z-index: -1000;

    transition: opacity 200ms;
}

.visible{
    opacity: 1;
    pointer-events: all;

    z-index: 1000;

    transition: opacity 200ms;
}

//media quiery

@media only screen and (max-width: 800px) {
    body {
      //background-color: palegoldenrod;
      width: 90%;
    }
    section{
        width: 95%;
        //background-color: green;
        margin-bottom: 10vh;
    }
}