#overlay{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;

    #closeBtn{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.7rem;
        cursor: pointer;
        transition: transform 0.2s;
    }
    #closeBtn:hover{
        transform: scale(1.2) rotate(90deg);
    }

    #overlayBg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(150, 150, 150);
        opacity: 0.1;
    }

    .overlayContent{
        position: absolute;
        overflow-y: scroll !important;

        width: 50%;
        left: 20%;
        top: 30px;
        bottom: 30px;

        background-color: white;
        padding: 50px;
        
        .overlayImg{
            width: 100%;
            margin-bottom: 30px;
            max-height: 450px;
            object-fit: cover;
        }

        .overlayTitle{
            font-size: 2rem;
            font-weight: bold;
            width: 90%;
        }

        hr{
            width: 60%;
            margin: unset;
            margin: 10px 0;
            border: 1px solid black;
            opacity: 0.8;
        }

        .overlayDate{
            line-height: 1.7rem;
            margin-bottom: 30px;
        }

        .paragraph{
            line-height: 1.7rem;
            margin-bottom: 30px;
        }
    }
}

//media quiery

@media only screen and (max-width: 800px) {
    #overlay{
        #closeBtn{
            top: 3px;
            left: 10px;
            font-size: 1.2rem;
        }
        .overlayContent{
            width: 85%;
            left: 5%;
            padding: 2.5%;
            .overlayTitle{
                font-size: 1.5rem;
            }
            .overlayImg{
                max-height: 60vw;
            }
        }
    }
}