#work{
    .workItem{
        margin-top: 40px;
        width: 100%;
        height: auto;
        clear: both;
        position: relative;

        cursor: pointer;

        display: flex; // responsiv - display: inline-block;
        
        .workDesc{
            width: 50%;
            .workTitle{
                font-size: 1.5rem;
                font-weight: bold;
                width: 90%;
            }
            hr{
                width: 40%;
                margin: unset;
                margin: 10px 0;
                border: 1px solid black;
                opacity: 0.8;
            }
            .workDate{
                width: 90%;
            }
        }
        .workImg{
            width: 50%;
            height: auto;
            object-fit: cover;
            
            transition: all cubic-bezier(.55,-0.15,.37,1.27) 300ms;
            
            -webkit-box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.6); 
            box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.6);
        }


    }
}

.workItem:hover{
    .workImg{
        transform: rotate(2deg) scale(1.01);
    }
}

//media quiery

@media only screen and (max-width: 800px) {
    #work {
        position: relative;
        .workItem{
            margin-top: 10vh;
            display: block;
            position: relative;
            .workDesc{
                width: 100%;
                padding-top: 80%;
                hr{
                    width: 70%;
                }
            }

            .workImg{
                position: absolute;
                top:0;
                width: 100%;
            }
        }
    }
}

//ingen rotering på bildene ved touch
@media (hover: none) {
    .workItem:hover{
        .workImg{
            transform: none;
        }
    }
}