@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");
html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  color: #222222;
  background-color: #fcfbf9;
}

section {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 10vh;
  position: relative;
}

a {
  color: #222222;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.elementImg {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.noScroll {
  overflow: hidden;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  z-index: -1000;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.visible {
  opacity: 1;
  pointer-events: all;
  z-index: 1000;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

@media only screen and (max-width: 800px) {
  body {
    width: 90%;
  }
  section {
    width: 95%;
    margin-bottom: 10vh;
  }
}

header {
  width: 100%;
  position: relative;
  height: 100px;
  margin-bottom: 80px;
}

header #logo {
  position: absolute;
  left: 0;
  font-size: 1.8rem;
  margin-top: 35px;
}

header #nav {
  font-size: 0.9rem;
}

header #nav #title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

header #nav a {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  bottom: 0;
  cursor: s-resize;
}

a:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 800px) {
  header {
    margin-bottom: 5vh;
  }
}

#work .workItem {
  margin-top: 40px;
  width: 100%;
  height: auto;
  clear: both;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#work .workItem .workDesc {
  width: 50%;
}

#work .workItem .workDesc .workTitle {
  font-size: 1.5rem;
  font-weight: bold;
  width: 90%;
}

#work .workItem .workDesc hr {
  width: 40%;
  margin: unset;
  margin: 10px 0;
  border: 1px solid black;
  opacity: 0.8;
}

#work .workItem .workDesc .workDate {
  width: 90%;
}

#work .workItem .workImg {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all cubic-bezier(0.55, -0.15, 0.37, 1.27) 300ms;
  transition: all cubic-bezier(0.55, -0.15, 0.37, 1.27) 300ms;
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.6);
}

.workItem:hover .workImg {
  -webkit-transform: rotate(2deg) scale(1.01);
          transform: rotate(2deg) scale(1.01);
}

@media only screen and (max-width: 800px) {
  #work {
    position: relative;
  }
  #work .workItem {
    display: block;
    position: relative;
  }
  #work .workItem .workDesc {
    width: 100%;
    padding-top: 370px;
  }
  #work .workItem .workDesc hr {
    width: 70%;
  }
  #work .workItem .workImg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 350px;
  }
}

@media only screen and (max-width: 500px) {
  #work .workItem .workDesc {
    padding-top: 250px;
  }
  #work .workItem .workImg {
    height: 230px;
  }
}

@media (hover: none) {
  .workItem:hover .workImg {
    -webkit-transform: none;
            transform: none;
  }
}

#about {
  position: relative;
  height: 65vh;
}

#about #aboutTitle {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

#about #aboutContent {
  width: 100%;
  height: 100%;
  position: relative;
}

#about #aboutContent img {
  width: 50%;
  position: absolute;
  top: 0;
}

#about #aboutContent #aboutTextContainer {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}

#about #aboutContent #aboutTextContainer #aboutText {
  padding-left: 30px;
}

@media only screen and (max-width: 800px) {
  #about {
    height: auto;
  }
  #about #aboutContent img {
    width: 70%;
    position: relative;
  }
  #about #aboutContent #aboutTextContainer {
    width: 70%;
    position: relative;
  }
  #about #aboutContent #aboutTextContainer #aboutText {
    padding: 10px 0px 0px 0px;
  }
}

#contact #contactTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

#contact #contactContent a {
  width: 50px;
  display: block;
  margin: 5px 0;
  padding: 5px;
  padding-left: 0;
  cursor: alias;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#overlay #closeBtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

#overlay #overlayBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #acacac;
  opacity: 0.1;
}

#overlay .overlayContent {
  position: absolute;
  overflow-y: scroll !important;
  width: 50%;
  left: 20%;
  top: 5%;
  height: 80%;
  background-color: white;
  padding: 50px;
}

#overlay .overlayContent .overlayImg {
  width: 100%;
  margin-bottom: 30px;
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

#overlay .overlayContent .overlayTitle {
  font-size: 2rem;
  font-weight: bold;
  width: 90%;
}

#overlay .overlayContent hr {
  width: 60%;
  margin: unset;
  margin: 10px 0;
  border: 1px solid black;
  opacity: 0.8;
}

#overlay .overlayContent .overlayDate {
  line-height: 1.7rem;
  margin-bottom: 30px;
}

#overlay .overlayContent .paragraph {
  line-height: 1.7rem;
  margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  #overlay .overlayContent {
    width: 90%;
    left: 2.5%;
    height: 90%;
    padding: 2.5%;
  }
  #overlay .overlayContent .overlayTitle {
    font-size: 1.5rem;
  }
  #overlay .overlayContent .overlayImg {
    max-height: 60vw;
  }
}
/*# sourceMappingURL=style.css.map */